body {
    font-family: Arial, Helvetica, sans-serif;
}
body.open {
    position: fixed;
    top: 0;
    display: contents;
}
.cart-recs {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.cart-recs-title {
    display: flex;
    font-size: 26px;
    font-weight: bold;
    margin: 20px 0;
}

.cart-recs-list {
    display: flex;
    flex-flow: row;
    overflow: hidden;
    margin: 10px 0 20px 0;
    width: 100%;
}
.product_list{
    max-width: 260px;
    min-width: 260px;
}

/* navigation */
.swiper-button-prev,
.swiper-button-next {
    position: absolute !important;
    background-color: white;
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: "";
}

.swiper-button-prev {
    background-image: url("../images/img/arrow-left.png");
    /* 이미지가 나오지않을 때, ./img/arrow-left.png로 */
    background-size: contain;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    left: 0px;
    top: 70%;
    z-index: 9;
}

.swiper-button-next {
    background-image: url("../images/img/arrow-right.png");
    /* 이미지가 나오지않을 때, ./img/arrow-left.png로 */
    background-size: contain;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    right: 0px;
    top: 70%;
    z-index: 9;
}
.cart_item_wrap_slider {
    display: flex;
    flex-flow: row;
    width: 1200px;
    margin: auto;
}


.product_list img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}


@media only screen and (min-width: 300px) and (max-width: 380px) {
    .cart-products .image_block{
        width: 100%;
    }
    .cart_item_wrap_slider{
        width:340px;
    }
    .product_list{
        max-width: 200px;
        min-width: 200px;
    }
}
@media only screen and (min-width: 380px) and (max-width: 400px) {
    .product_list{
        max-width: 220px;
        min-width: 220px;
    }
    .cart_item_wrap_slider{
        width:400px;
    }
}
@media only screen and (min-width: 400px) and (max-width: 440px) {
    .cart_item_wrap_slider{
        width:400px;
    }
    .product_list {
        max-width: 168px;
        min-width: 168px;
    }
}
@media only screen and (min-width: 440px) and (max-width: 540px) {
    .cart_item_wrap_slider{
        width:600px;
    }
    .product_list {
        max-width: 220px;
        min-width: 220px;
    }
}
@media only screen and (min-width: 540px) and (max-width: 620px) {
    .cart_item_wrap_slider{
        width:600px;
    }
    .product_list {
        max-width: 220px;
        min-width: 220px;
    }
}
@media only screen and (min-width: 620px) and (max-width: 780px) {
    .cart_item_wrap_slider{
        width:600px;
    }
    .product_list {
        max-width: 168px;
        min-width: 168px;
    }
}
@media only screen and (min-width: 780px) and (max-width: 990px) {
    .cart_item_wrap_slider{
        width:700px;
    }
    .product_list {
        max-width: 180px;
        min-width: 180px;
    }
}
@media only screen and (min-width: 300px) and (max-width: 820px) {
    .product_name {
        height: 30px;
    }
    h2.product_name {
        margin: auto;
        text-align: center;
    }
}
@media only screen and (min-width: 820px) and (max-width: 1020px) {
    .product_name {
        height: 30px;
    }
    h2.product_name {
        margin: auto;
        text-align: center;
    }
    .cart_item_wrap_slider {
        width: 800px;
    }
    .product_list {
        max-width: 200px;
        min-width: 200px;
    }
}

