.fbt_block {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.fbt_title {
    display: flex;
    font-size: 26px;
    font-weight: bold;
    margin: 20px 0;
}

.fbt_wrapper {
    display: flex;
    flex-flow: wrap;

}

.fbt_item_list {
    display: flex;
    flex-flow: row;
    overflow: hidden;
}

.fbt_wrapper_products {
    display: flex;
    flex-flow: row;
}

.mainproducts,
.fbt_item_wrap {
    display: flex;
    flex-flow: row;
}

.fbt_item_wrap {
    overflow: hidden;
}

.fbt_item_wrap_slider {
    display: flex;
    flex-flow: row;
    overflow: hidden;
    max-width: 600px;
}

.plusicon {
    display: flex;
    align-items: center;
    font-size: 54px;
}

.fbt_summary_wrap {
    display: flex;
    align-items: end;
    position: relative;
}

.product_list p {
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.swiper-wrapper {
    width: calc((300px * 3) + 17px);
    display: flex;
    justify-content: flex-start;
    background-color: none;
    height: 400px;
}

/* navigation */
.swiper-button-prev,
.swiper-button-next {
    position: absolute !important;
    background-color: white;
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: "";
}

.swiper-button-prev {
    background-image: url("../images/img/arrow-left.png");
    /* 이미지가 나오지않을 때, ./img/arrow-left.png로 */
    background-size: contain;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    left: 0px;
    top: 70%;
    z-index: 9;
}

.swiper-button-next {
    background-image: url("../images/img/arrow-right.png");
    /* 이미지가 나오지않을 때, ./img/arrow-left.png로 */
    background-size: contain;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    right: 0px;
    top: 70%;
    z-index: 9;
}

span.checkbox_spn {
    position: absolute;
    top: 4px;
    background: #ccc;
    width: 40px;
    height: 40px;
    right: 4px;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: -5px;
  width: 40px;
  height: 40px;
  outline: none;
}

[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
  content: '✔';
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 24px;
  line-height: 0.8;
  color: #fff;
  transition: all .2s;
}

[type="checkbox"]:not(:checked)+label:after {
  opacity: 0;
  transform: scale(0);
}

@media only screen and (min-width: 300px) and (max-width: 961px) {
    .fbt_wrapper_products {
        flex-flow: column;
        width: 100%;
    }
    .fbt_wrapper{
        width: 100%;
    }
    .mainproducts{
        justify-content: center;
    }
    .fbt_item_wrap_slider {
        overflow: auto;
        flex-flow: column;
        width: 100%;
    }
    .mainproducts, .fbt_item_wrap {
        flex-flow: column;
    }
    .addtocartbtn{
        display: none;
    }
    .product_list img {
        max-width: 80px;
        max-height: 80px;
    }
    .prod_details{
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        margin: 0;
        align-items: flex-start;
    }
    .product_name, .product_c{
        margin-left: 0;
    }
    .image_block {
        width: 82px;
    }
    .product_list > div {
        display: flex;
    }
    [type="checkbox"]:not(:checked)+label:before, [type="checkbox"]:checked+label:before {
        width: 20px;
        height: 20px;
    }
    span.checkbox_spn {
        width: 20px;
        height: 20px;
    }
    .plusicon {
        font-size: 30px;
        justify-content: center;
    }
    [type="checkbox"]:not(:checked)+label:after, [type="checkbox"]:checked+label:after {
        top: 4px;
        left: 5px;
        font-size: 14px;
    }
    .swiper-button-prev, .swiper-button-next{
        display: none;
    }
}