body {
    font-family: Arial, Helvetica, sans-serif;
}
.fbt_block {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.fbt_title {
    display: flex;
    font-size: 26px;
    font-weight: bold;
    margin: 20px 0;
}

.fbt_wrapper {
    display: flex;
    flex-flow: wrap;
    margin: 10px 0 20px 0;
}

.fbt_item_list {
    display: flex;
    flex-flow: row;
    overflow: hidden;
}

.fbt_wrapper_products {
    display: flex;
    flex-flow: row;
}

.mainproducts,
.fbt_item_wrap {
    display: flex;
    flex-flow: row;
}

.fbt_item_wrap {
    overflow: hidden;
}

.fbt_item_wrap_slider {
    display: flex;
    flex-flow: row;
    overflow: hidden;
    max-width: 600px;
}

.plusicon {
    display: flex;
    align-items: center;
    font-size: 54px;
}

.fbt_summary_wrap {
    display: flex;
    flex-flow: column;
    justify-content: end;
    min-width: 200px;
}

.product_list p {
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.swiper-wrapper {
    width: calc((300px * 3) + 17px);
    display: flex;
    justify-content: flex-start;
    background-color: none;
    height: 400px;
}

/* navigation */
.swiper-button-prev,
.swiper-button-next {
    position: absolute !important;
    background-color: white;
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: "";
}

.swiper-button-prev {
    background-image: url("../images/img/arrow-left.png");
    /* 이미지가 나오지않을 때, ./img/arrow-left.png로 */
    background-size: contain;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    left: 0px;
    top: 70%;
    z-index: 9;
}

.swiper-button-next {
    background-image: url("../images/img/arrow-right.png");
    /* 이미지가 나오지않을 때, ./img/arrow-left.png로 */
    background-size: contain;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    right: 0px;
    top: 70%;
    z-index: 9;
}

.checkbox_btn {
    position: absolute;
    top: 4px;
    background: #ccc;
    width: 40px;
    height: 40px;
    right: 4px;
}

/* .checkbox_btn,
.checkbox_btn.active {
  position: absolute;
  left: -9999px;
} */

.checkbox_btn .checkbox_spn:before,
.checkbox_btn.active .checkbox_spn:before {
  content: '';
  position: absolute;
  left: 0;
  top: -5px;
  width: 40px;
  height: 40px;
  outline: none;
}


.checkbox_btn.active .checkbox_spn:after {
  content: '✔';
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 24px;
  line-height: 0.8;
  color: #fff;
  transition: all .2s;
}

.checkbox_btn button:after {
  opacity: 0;
  transform: scale(0);
}
.fbt_block .addtocartbtn{
    display: none;
}

.fbt_summary_list {
    display: flex;
    flex-flow: column;
    overflow: auto;
    max-height: 258px;
    position: relative;
}
.summary-product-block{
    display: flex;
    flex-flow: row;
    margin-bottom: 10px;
    max-width: 100%;
}
.image-block img{
    width: 30px;
    height: 30px;
    display: block;
    object-fit: contain;
}
.product-details{
    display: flex;
    flex-flow: column;
    max-width: 82%;
}
button.fbt_add_btn {
    background: blue;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}
.fbt_summary_btn {
    margin: 10px 0;
}
.product-tile {
    font-size: 12px;
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}

.product-price {
    font-size: 12px;
}

.delete-bundle-prod {
    position: absolute;
    right: 22px;
    cursor: pointer;
}
.delete-bundle-prod:hover, .hideMenu:hover {
    opacity: 1;
  }
  .delete-bundle-prod:before, .delete-bundle-prod:after, .hideMenu:before, .hideMenu:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 12px;
    width: 2px;
    background-color: #333;
  }
  .delete-bundle-prod:before, .hideMenu:before{
    transform: rotate(45deg);
  }
  .delete-bundle-prod:after, .hideMenu:after {
    transform: rotate(-45deg);
  }

.sub-total-price, .sub-total-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
    display: none;
}
.sub-total-price{
    display: flex;
    margin-left: 5px;
}
.sub-total-price .strike_price{
    margin-left: 5px;
}
.product-price s {
    margin-left: 5px;
}
@media only screen and (min-width: 300px) and (max-width: 768px) {
    .fbt_wrapper_products {
        flex-flow: column;
        width: 100%;
    }
    .fbt_wrapper{
        width: 100%;
        justify-content: center;
    }
    .mainproducts{
        justify-content: center;
    }
    .fbt_item_wrap_slider {
        overflow: auto;
        flex-flow: column;
        width: 100%;
    }
    .mainproducts, .fbt_item_wrap {
        justify-content: flex-start;
    }
    .fbt_block  .addtocartbtn{
        display: none;
    }
    .swiper {
        margin: 0 !important;
    }
    .fbt_block {
        text-align: center;
    }
    .fbt_title{
        font-size: 22px;
    }
    .fbt_wrapper .product_list img {
        max-width: 80px;
        max-height: 80px;
    }
    .fbt_wrapper .prod_details{
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        margin: 0;
        align-items: flex-start;
    }
    .fbt_wrapper .product_name{
        margin-left: 0;
        text-align: left;
        min-height: 32px;
    }
    .fbt_wrapper .product_c{
        margin-left: 0;
        text-align: left;
    }
    .fbt_wrapper .image_block {
        width: 82px;
    }
    .fbt_wrapper .product_list > div {
        display: flex;
    }
    .checkbox_btn .checkbox_spn:before, .checkbox_btn.active .checkbox_spn:before {
        width: 20px;
        height: 20px;
    }
    .checkbox_spn, .checkbox_btn {
        width: 20px;
        height: 20px;
    }
    .plusicon {
        font-size: 30px;
        justify-content: center;
    }
    .checkbox_btn .checkbox_spn:after, .checkbox_btn.active .checkbox_spn:after {
        top: 4px;
        left: 5px;
        font-size: 14px;
    }
    .swiper-button-prev, .swiper-button-next{
        display: none;
    }
    .dropdown-link{
        text-decoration: underline;
    }
    ul.dropdown-menu.clicked {
        display: block;
    }
    .fbt_summary_list {
        display: none;
    }
    .sub-total-item{
        display: flex;
    }
    .sub-total-price{
        display: flex;
    }
    .sub-total-price {
        margin-left: 0;
    }
    .fbt_wrapper .product_list {
        min-width : 95%;
    }
    .mainproducts .product_list {
        min-width : 280px;
    }
}

@media only screen and (min-width: 767px) and (max-width: 820px) {
    .fbt_wrapper .product_list {
        min-width: 210px;
    }
    .fbt_block {
        flex-flow: wrap;
    }
    .fbt_item_wrap_slider{
        max-width: 450px;
    }
    .fbt_summary_list {
        display: none;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .fbt_item_wrap_slider{
        max-width: 600px;
    }
    .fbt_wrapper .product_list {
        min-width: 95%;
    }
}
@media only screen and (min-width: 820px) and (max-width: 973px) {
    .fbt_wrapper .product_list {
        min-width: 220px;
    }
    .fbt_block {
        flex-flow: wrap;
    }
    .fbt_item_wrap_slider{
        max-width: 500px;
    }
    .fbt_summary_list {
        display: none;
    }
}
@media only screen and (min-width: 973px) and (max-width: 1100px) {
    .fbt_wrapper .product_list {
        min-width: 220px;
    }
    .fbt_block {
        flex-flow: wrap;
    }
    .fbt_item_wrap_slider{
        max-width: 500px;
    }
}
@media only screen and (min-width: 1100px) and (max-width: 1240px) {
    .fbt_wrapper .product_list {
        min-width: 240px;
    }
    .fbt_block {
        flex-flow: wrap;
    }
    .fbt_item_wrap_slider{
        max-width: 540px;
    }
}
@media only screen and (min-width: 300px) and (max-width: 1240px) {
    .fbt_title {
        margin: 20px auto;
    }
}