*{
  font-family:'Helvetica, Arial, sans-serif';
  margin: 0;
  padding: 0;
}
#root {
  display: block;
}
.App {
  text-align: center;
  display: flex;
  flex-flow: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product_block{
  display: flex;
  flex-flow: row;
  max-width: 80%;
  flex-wrap: wrap;
  max-width: auto;
}
.product_list{
  display: flex;
  flex-flow: column;
  max-width: 200px;
  margin: 10px 10px;
  border: 1px solid #ccc;
  min-width: 260px;
}
.product_list img {
  max-width: 200px;
  max-height: 200px;
  display: block;
}
.header_wrap{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.home_header, .cart_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  width: 51%;
}
.filter_wrap{
  display: flex;
  width: 268px;
  min-width: 18%;
  background: #efefef;
  justify-content: center;
  margin-top: 0;
}
.product_wraper{
  display: flex;
}

.home_header div, .cart_header div, .cart_header p{
  display: flex;
  font-weight: bold;
  align-items: center;
}

.cart_header_b {
  display: flex;
}
.product_name, .product_c, .addtocartbtn{
  margin: 5px 5px;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.addtocartbtn{
  width: 80%;
  margin: 5px auto 10px auto;
  text-align: center;
  padding: 10px;
  color: #fff;
  background-color: blue;
}
.image_block{
  display: flex;
  justify-content: center;
}
.price_block{
  min-height: 30px;
  justify-content: center;
  flex-flow: row;
}

.filter_block {
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.filterText{
  display: flex;
  font-weight: bold;
  font-size: 24px;
  justify-content: center;
}
.filter_wrap button {
  display: flex;
  background-color: #eee;
  color: #000;
  width: 241px;
  padding: 4px;
  border-radius: 20px;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin: 10px 0;
}

button {
  cursor: pointer;
}
.filterbrand, .filtercategory {
  display: flex;
  flex-flow: column;
}
.filtercategory label, .filterbrand label{
  display: flex;
  flex-flow: row;
  margin: 2px 0;
  justify-content: center;
  font-weight: bold;
}

.filtercategory select, .filterbrand select{
  display: flex;
  flex-flow: row;
  padding: 5px;
  border-radius: 20px;
}

.filtercategory {
  margin-top: 10px;
}
.resetfilter{
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  flex-flow: column;
}
.minicartopen{
  position: absolute;
  top: 0;
  right: 0;
  border-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246/var(--tw-bg-opacity));
  padding: 0.5rem;
  --tw-shadow: 0 10px 15px -3px #0000001a,0 4px 6px -4px #0000001a;
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: 0 0 #0000,0 0 #0000,var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  height: 100%;
  padding: 12px;
  overflow: hidden;
  overflow-y: auto;
  transition: all ease 2s;
  position: absolute;
  width: 400px;
  height: 100%;
  opacity: 0;
  z-index: -1;
  /* display: none; */
}
.modalopen{
  opacity: 1;
  z-index: 9;
}
.gap-2 {
  gap: 0.5rem;
}
.flex {
  display: flex;
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-red-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(220 38 38/var(--tw-bg-opacity));
  }
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}
.font-medium {
    font-weight: 500;
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.py-2\.5 {
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;
}
.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.bg-red-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(185 28 28/var(--tw-bg-opacity));
}
.rounded-lg {
    border-radius: 0.5rem;
}
.me-2 {
    margin-inline-end: 0.5rem;
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-green-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(22 163 74/var(--tw-bg-opacity));
  }
}

.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.flex {
  display: flex;
}
.product_block_list{
  display: flex;
  flex-flow: column;
  padding: 0px;
}

.product_list_cart {
  display: flex;
  flex-flow: row;
  padding: 5px;
}
.clear_cart{
  padding: 3px;
  background: red;
  color: white;
}

.cart_image_block img {
  width:100px;
  height:100px;
  display: block;
  object-fit: contain;
}
.product_name_cart{
  font-size: 14px;
  font-weight: 400px;
}
.product_btn_cart{
  /* padding: 10px;
  background-color: red;
  color: white; */
}
.product_cart_price_title{
  display: flex;
  flex-flow: column;
}
.cart_price_bk{
  display: flex;
}
/* .cart_price_bk .price_block {
  display: flex;
  flex-flow: row;
} */
.price_block > div {
  margin-right: 5px;
}

.line-through {
  text-decoration-line: line-through;
  color: #333;
}
.cart_subTotal{
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-left: 10px;
  margin-top: 2px;
}
.cart_subTotal .price, .strike_price{
  margin-right: 5px;
  font-size: 12px;
}
.carticon{
  display: flex;
  height: 27px;
}
.cart_header{
  flex-flow: column;
}
.cart_count{
  margin-left: 5px;
}
.subTotalBlock {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  position: sticky;
  top: auto;
  bottom: 10px;
  background: #f1f1f1;
  padding: 10px;
  min-height: 60px;
}
.minicartopen .subTotalBlock span {
  font-size: 18px;
  font-weight: bold;
}
.minicartopen > div {
  display: flex;
  justify-content: center;
}

.overlay {
  height: 100%;
  padding: 12px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  z-index: 0;
  background: rgba(0,0,0,.7);
  visibility: visible;
  opacity: 1;
  display: block;
}

body.open {
  position: fixed;
}

.product_btn_cart {
  position: relative;
  color: red;
  margin-left: 3px;
  margin-top: 10px;
  background-color: none;
  border: none;
}

.product_btn_cart:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #000;
  background-color: currentColor;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.product_btn_cart:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #000;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.product_cart_price_title p {
  margin: 2px 0px;
}
.close_btn, .hideMenu {
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  background: none;
  border: none;
}
.close_btn:hover, .hideMenu:hover {
  opacity: 1;
}
.close_btn:before, .close_btn:after, .hideMenu:before, .hideMenu:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close_btn:before, .hideMenu:before{
  transform: rotate(45deg);
}
.close_btn:after, .hideMenu:after {
  transform: rotate(-45deg);
}
.hideMenu{
  display: none !important;
}
.modal-open .hideMenu{
  display: block !important;
  top: 10px;
  right: 5px;
}
main {
  display: flex;
  flex-flow: column;
}
.header_2 a {
  display: flex;
  flex-flow: column;
}

.header_1, .header_2, .header_3, .header_4, .header_5{
  display: flex;
  flex-flow: column;
  background-color: #86c7ff;
}

.header_1 p, .header_2 p, .header_3 p, .header_4 p, .header_5 p {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}

.header_1 img, .header_2 img, .header_3 img, .header_4 img, .header_5 img {
  min-width: 80%;
  max-width: 80%;
  margin: auto;
}
.header_1 h1{
  display: flex;
  justify-content: center;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-right: 90px solid #72bcf4;
  border-bottom: 40px solid transparent;
}
.triangle-left span {
  font-size: 23px;
  font-weight: bold;
  position: relative;
  left: 25px;
  font-family: cursive;
}


a {
  color: inherit;
  text-decoration: inherit;
}
menu, ol, ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}


.blogPage{
  display: flex;
  justify-content: space-around;
  flex-flow: row !important;
  padding: 10px 0;
}
.resume {
  display: flex;
  flex-flow: column;
}
.download_btn {
  text-align: center;
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;border-radius: 20px;
}
.resume_title {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  font-family: cursive;
  padding: 10px 0;
}
.resume_format {
  display: flex;
  width: 48%;
}
.resume_format img {
  display: block;
  object-fit: contain;
  width: 100%;
}
.contact_block {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.mob, .email, .linkedin, .github{
  display: flex;
  font-size: 14px;
  margin-bottom: 10px;
  justify-content: center;
}
.mob h3, .email h3, .linkedin h3, .github h3{
  margin: 0;
}
.contact_block span {
  font-size: 24px;
  font-weight: 600;
}
.contact_wrap{
  display: flex;
  flex-flow: column;
  background: #18829312;
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 5px 0;
}
/* @media (min-width:320px)  {  */
  @media only screen and (min-width: 300px) and (max-width: 961px) { 
    .product_wraper {
      flex-flow: column;
    }
    .filter_wrap{
      width: 100%;
      margin: auto;
      align-items: center;
      padding: 12px 0;
    }
    .product_block {
      justify-content:center;
      max-width: 100%;
    }
    .dashboard {
      display: none !important;
    }
    .minicartopen {
      width: 80%;
    }
    .cart_image_block img{
      width:50px;
      height: 50px;
    }
    .product_name_cart{
      margin: 0;
    }
    .blogPage {
      justify-content: center;
      flex-flow: column !important;
    }
    .home_nav, .contact, .contact_nav{
      display: none;
    }
    .header_wrap{
      padding: 10px 0;
    }
    .triangle-left{
      border-top: 30px solid transparent;
      border-right: 66px solid #72bcf4;
      border-bottom: 30px solid transparent;
    }
    .home_header, .cart_header{
      /* width: 80%; */
    }
    .triangle-left span{
      font-size: 18px;
    }
    .resume_format img {
      display: block;
      object-fit: contain;
      width: 100%;
    }
    .resume_format{
      margin-top: 10px;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    a.home_listing, .blog_nav, .blog_nav div {
      display: flex;
      font-size: 12px;
    }
    .header_1 h1 {
      font-size: 16px;
    }
    .resume_title{
      font-size: 16px;
    }
  }
  @media only screen and (min-width: 481px) and (max-width: 959px) { 
    .product_list {
      min-width: 242px;
    }
    .minicartopen {
      width: 400px;
    }
    a.home_listing, .blog_nav, .blog_nav div {
      font-size: 18px;
    }
    .header_1 h1 {
      font-size: 20px;
    }
  }
  @media only screen and (min-width: 960px) and (max-width: 1200px) { 
    .filter_wrap {
      width: 24%;
      min-width: 28%;
      padding-left: 10px;
    }
  }
  @media only screen and (min-width: 1300px) {
    .filter_block {
      margin-left: 5px;
    }
  }
  .header_1{
    padding: 10px;
  }
  .dropdown-menu {
    width: 230px;
    position: absolute;
    top: 70px;
    right: auto;
    list-style: none;
    text-align: start;
  }
  .modal-open .dropdown-menu {
    width: 100%;
    position: relative;
    top: 0px;
  }
  .dropdown-menu li {
    /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%); */
    background: #f1f1f1;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: #ddd;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;
    padding: 12px;
    font-size: 16px;
  }

  /* NAVBAR ----------------> */
.navbar {
  background: transparent;
  color:#000;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.logoBox {
  width: 45%;
}

.navbar-logo {
  color: #000;
  align-self: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  width: 400px;
}

.menu-icon {
  display: none;
}


.mobileShow img {
  width: 50px;
  margin-top: 5px;
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background: rgb(173, 173, 173);
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}


@media screen and (max-width: 960px) {
  .navbar {
    justify-content: space-between;
  }
  
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    position: absolute;
    top: 60px;
    /* left: -180%; */
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    padding-left: 0px;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: flex;
  }

  .nav-links:hover {
    background: rgb(173, 173, 173);
    border-radius: 0;
  }

  .logoBox {
    width: 90%;
  }

  .navbar-logo {
    /* position: absolute; */
    top: 0;
    left: -75px;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    margin-top: 5px;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }

}

@media screen and (max-width: 420px) {
.navbar-logo {
  font-size: 22px;
}
}


@media only screen and (max-width: 961px) {
  .hide-on-mobile {
    display: none; /* Hide on screens with a width of 767 pixels or less (typically mobile devices) */
  }
}
.contact_block h1 {
  font-size: 52px;
  padding: 10px 0;
  background: #eee;
  width: 100%;
  text-align: center;
}
.contactHeaderBox {
  background-color: rgb(255, 255, 255);
}

.contactHeader {
  color:rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 50px 40px;
  max-width: 1300px;
  margin: 0 auto;
}

.contact {
  background-color: rgb(255, 255, 255);
  margin: 0 0 0 0;
  padding-top: 50px; 
  display: flex;
  justify-content: center;
}

.contactMain {
  background-color: rgba(255, 255, 255, 0.559);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.211);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin: 0 30px;
  padding: 30px;
  max-width: 900px;
}
@media only screen and (min-width: 600px) {
  .contactMain {
      flex-direction: row;
  }
}

.contactLeft {
  color: rgb(0, 0, 0);
  margin: 0 20px 20px 0;
  width: 100%
}

.contactLeft h2 {
  margin: 0;
}

.contactRight {
  /* display: flex;
  flex-direction: column; */
  /* padding-bottom: 200px; */
  /* overflow: scroll; */
}

.contactInputNameEmail {
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  height: 34px;
  margin: 5px 0;
  
}
.contactInputMessage {
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  border: 1px solid black;
  /* width: 500px;
  height: 300px; */
  width: 100%;
  height: 250px;
  margin: 10px 0; /* top and bottom */
}

.sendMessageButtonBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messageSuccessMsgBox {
  padding-top: 5px;
}

.contactButtons {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
}

.contactButtons a {
  color: white;
  font-size: 100px;
}

@media only screen and (min-width: 280px) and (max-width: 1300px) {

  .contactButtons {
      margin-top: 10px;
      margin-right: 5px;
  }
}

@media only screen and (min-width: 280px) and (max-width: 467px) {

  .contactHeader {
      text-align: center;
  }
}
#contact{
  background: none;
}
input::placeholder, textarea::placeholder {
  text-align: center; 
  padding: 2px;
}

/* menu bar mobile */
@media only screen and (min-width: 300px) and (max-width: 961px) { 
  .navbar{
    display: none;
  }
  .contact_nav{
    margin-left: 14px;
    min-height: 30px;
  }
  .menuBar {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background: white;
    box-shadow: rgb(136 165 191 / 48%) 6px 2px 16px 0px, rgb(255 255 255 / 80%) -6px -2px 16px 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: all .5s ease;
    margin: 10px;
  }
  .menuBar:hover {
    background: rgb(56 56 56);
  }
  .menuBar-strip2 {
    transition: all .5s ease;
  }
  
  /* BURGER 1 */
  
  .menuBar:hover .strip2 div {
    background: white;
  }
  
  .strip2 div {
    height: 3px;
    border-radius: 2px;
    background: rgb(56 56 56);
    margin: 2px;
    transition: all .55s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 32px;
  }
  .strip2 {
    flex-flow: column;
  }
  .modal-open  .nav-links {
    padding: 10px;
    font-size: 18px;
    margin-left: 14px;
  }
}
.modal-open .navbar{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 300px;
  height: 100%;
  z-index: 99;
}
.modal-open  .nav-menu {
  top: 22px;
  left: 0;
  height: auto;
  padding: 20px 0;
}

.modal-open .home_nav_bar{
  display: none;
}
.modal-open  .nav-item {
  height: auto;
  display: flex;
  text-align: left;
  border-top: 1px solid #ccc;
  border-radius: 2px;
  position: relative;
  flex-flow: column;
}
.modal-open .nav-item:first-child {
  border: none;
}


.modal-open .nav-item:last-child {
  border-bottom: 1px solid #ccc;
}

@media only screen and (min-width: 1300px) {
  .navbar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .nav-item {
    margin: 0px 10px;
  }
}